@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --media-brand: 245 245 245;
    --media-focus: 78 156 246;
}

html, body{
    @apply min-h-[100vh]
}

main{
    @apply flex-1
}

body{
    @apply bg-gray-900 text-gray-200
}

:where(.ant-menu-overflow-item) .ant-menu-title-content{
    @apply hidden
}

.ant-menu-overflow-item:has(#logo)::after {
    position: relative;
}

.ant-input-textarea-show-count:has(#replyPanel) .ant-input-data-count{
    top: 4px;
}

.ant-input-textarea-show-count:has(#replyPanel) #replyPanel{
    padding-right: 80px;
}

:where([class*=css-dev-only-do-not-override]).ant-input-textarea-show-count .ant-input-data-count{
    color: rgba(240, 248, 255, 0.68);
}

:where([class*=css-dev-only-do-not-override]).ant-menu::before{
    position: absolute;
}

:where([class*=css-dev-only-do-not-override]).ant-upload.ant-upload-drag > .ant-upload.ant-upload-btn{
    min-height: inherit;
}

:where([class*=css-dev-only-do-not-override]).ant-upload-wrapper > :where([class*=css-dev-only-do-not-override]).ant-upload.ant-upload-drag{
    min-height: 500px;
}

.ant-collapse-header-text{
    overflow: hidden;
}

.ant-modal-content:has(.ant-modal-confirm-body-wrapper){
    background: #292a2e;
}

.ant-modal-confirm-btns > .ant-btn-default,
.ant-modal-confirm-btns > .ant-btn-primary{
    background-color: rgba(255,255,255,0.05);
    border-color: rgba(255,255,255,0.05);
    color: rgb(229 231 235);
    box-shadow: none;
}

:where([class*=css-dev-only-do-not-override]).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover{
    color: inherit;
    border-color: inherit;
    background-color:rgb(229 231 235);
}

:where([class*=css-dev-only-do-not-override]).ant-btn-text:not(:disabled):not(.ant-btn-disabled):hover{
    color: inherit;
    border-color: inherit;
    background-color:rgb(229 231 235);
}

:where([class*=css-dev-only-do-not-override]).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover{
    color: rgb(229 231 235);
    border-color: rgba(214,0,12,0.75);
    background-color:rgba(214,0,12,0.75) ;
}


.ant-card .ant-card-cover img{
    border-radius: inherit;
    height: 201px;
}

.ant-table-row.ant-table-row-level-0 > td:last-child{
    cursor: pointer;
    overflow: hidden;
}

.ant-table-row.ant-table-row-level-0 > td:last-child > span{
    display: block;
    transform: translateX(140%);
    transition: transform .4s;
}

.ant-table-row.ant-table-row-level-0 > td:last-child:hover span{
    transform: translateX(0);
}

.ant-table-row.ant-table-row-level-0 > td:last-child:hover,
.ant-table-row.ant-table-row-level-0.ant-table-row-selected > td:last-child:hover{
    background: linear-gradient(280deg, rgba(255,255,255,0.05), rgba(255,0,7,0.40));
}

.ant-input-affix-wrapper{
    border-bottom: 1px solid rgba(229, 231, 235, 10%);
}

.ant-input-affix-wrapper-focused{
    border-bottom: 1px solid #fff;
}






