@tailwind base;
@tailwind components;
@tailwind utilities;

@layer drop-zone

:root {
    --media-brand: 245 245 245;
    --media-focus: 78 156 246;
}

body{
    overflow-x: hidden;
    position: absolute;
    inset: 0;
    background: rgb(17 24 39);
}


body:has(dialog[open]){
    overflow: hidden;
}

#root{
    min-height: 100%;
}

main{
    flex-grow: 1;
    min-height: 100%;
}

.scroll-lock{
    overflow: hidden;
}

#upload{
    position: fixed;
    inset: 0;
    transform-origin: right top;
    transition: transform .4s, opacity .4s, display .4s allow-discrete;
}


#upload::backdrop{
    background: rgb(0 0 0 / 70%);
}

#upload:not(:has([open])){
    opacity: 0;
    transform: scale(0);
    transition: transform .4s, opacity .4s, display .4s allow-discrete;
}


#upload[open]{
    opacity: 1;
    transform: scale(1);
}


@supports (transition-behavior: allow-discrete) {
    @starting-style{
        #upload[open]{
            opacity: 0;
            transform: scale(0);
        }
    }
}


.player {
    container-name: media-player;
    container-type: inline-size;
}

.drag{
    transition: none;
}

.drag-zone{
    background: rgba(255, 255, 255, 0.04);
}

.drag-zone > #drag-line{
    background: rgba(255, 255, 255, 0.29);
}



